


/*
     FILE ARCHIVED ON 02:22:32 Jul 10, 2010 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 16:17:06 Nov 19, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.871
  exclusion.robots: 0.038
  exclusion.robots.policy: 0.017
  esindex: 0.018
  cdx.remote: 18.292
  LoadShardBlock: 169.513 (3)
  PetaboxLoader3.datanode: 82.084 (4)
  PetaboxLoader3.resolve: 166.246 (2)
  load_resource: 152.366
*/