


/*
     FILE ARCHIVED ON 00:26:38 Jun 22, 2010 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 16:17:07 Nov 19, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.448
  exclusion.robots: 0.016
  exclusion.robots.policy: 0.008
  esindex: 0.009
  cdx.remote: 35.667
  LoadShardBlock: 107.907 (3)
  PetaboxLoader3.datanode: 117.846 (4)
  load_resource: 112.125
  PetaboxLoader3.resolve: 67.833
*/